.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader {
    font-size: 42px;
    font-family: Google Sans, sans-serif;
    font-weight: bold;
    top: 50%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.imageHolder {
    margin-top: 10%;

}

.comic-details {
    margin-top: 20px;
    padding: 10px 10px;
    font-family: "Lora", sans-serif;
    font-size: 17px;
}


h1:before {
    content: "Loading...§";
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #006064;
    animation: loading 8s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}